{% extends 'main/layout.html' %}

{% block title%}
List of records
{% endblock %}

{% block body %}
    <div class="records-grid-container">
        {% if page_obj %}
            {% for record in page_obj %}
                <a class="films_elem container" href="{% url 'record' record.id%}">
                    <div class="yellow_text text">
                        {{ record.date }}
                    </div>
                    <div class="text">
                        {{ record.name }}
                    </div>
                    <video src="{{ record.video.url }}" width="320" height="240"></video>
<!--                    <input class="films-elem_btn" type="button" value="PLAY"></input>-->
                </a>
            {% endfor %}
        {% else %}
            <p>No records are available.</p>
        {% endif %}
    </div>
    <!--Include paginator's template-->
    {% include 'main/paginator.html'%}
{% endblock %}