{% extends 'main/layout.html' %}

{% block title%}
List of films
{% endblock %}

{% block body%}
    {% if films_list %}
        <ol>
        {% for film in films_list %}
            {% if film.id_type.season %}
                <li><a href="https://www.kinopoisk.ru/serial/{{ film.kinopoisk_id }}/" target="_blank">{{ film.name }}</a></li>
            {% else %}
                <li><a href="https://www.kinopoisk.ru/film/{{ film.kinopoisk_id }}/" target="_blank">{{ film.name }}</a></li>
            {% endif %}
    <!--        <li><a href="/films/{{ films.id }}/">{{ film.name }}</a></li>-->
        {% endfor %}
        </ol>
    {% else %}
    <   p>No films are available.</p>
{% endif %}
{% endblock %}

