{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/search.css' %}">
{% endblock %}

{% block title%}
List of films
{% endblock %}

{% block body%}
    {% include 'main/search.html' %}
    <div class="grid_container">
        {% if page_obj %}
            {% for film in page_obj %}
                    <a class=films_elem href="{% url 'film' film.id%}"> 
                        <div class="film">
                            <img class="icon" src="{{ film.icon.url }}">
                            <div class="text">
                                {{ film.name }}
                                {% if film.id_types.season != None %}
                                    ({{ film.id_types.season }})
                                {% endif %}
                                <div class="genre">
                                {{ film.id_genres.genre }}
                                </div>
                            </div>
                            
                        </div> 
                        <div class="imdb">
                            Рейтинг IMDB: {{ film.imdb }}
                        </div>
                    </a>
            {% endfor %}
        {% else %}
            <p>No films are available.</p>
        {% endif %}
    </div>
    <!--Include paginator's template-->
    {% include 'main/paginator.html'%}
{% endblock %}
