<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergey Diudin">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="site_title">
            VideoArchive
        </div>
        <nav class="navigation">
            <a class="nav_link" href="/">Главная</a>
            <a class="nav_link" href="/about">About</a>
            <a class="header_btn nav_link" href="/about">Sign in</a>
        </nav>
    </header>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        2020
    </footer>

</body>
</html>

