<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergey Diudin">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <a class="site_title" href="/">VideoArchive</a>
        <nav class="navigation">
            <a class="nav_link" href="/">Главная</a>
            <a class="nav_link" href="https://www.apgyugrusi.ru/ref/Телефоны.xls">Справочник</a>
            <a class="nav_link" href="/contacts">Contacts</a>
            <a class="nav_link" href="/about">About</a>
            <a class="header_btn nav_link" href="/sign-in">Sign in</a>
        </nav>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>

