{% extends 'main/layout.html' %}

{% block title%}
Sign In
{% endblock %}

{% block body%}
    <section class="auth_block">
       <form action="" method="post">
           <label for="user_login">Login</label>
           <input type="text" placeholder="Enter login" maxlength="20" name="user_login"
                   id="user_login">
           <label for="user_password">Password </label>
           <input type="password" placeholder="Enter password" maxlength="20" name="user_password"
                   id="user_password">
        </form>
    </section>
{% endblock %}

