{% extends 'main/layout.html' %}

{% block title%}
Sign In
{% endblock %}

{% block body%}
    <section class="contacts_content">
       <form action="" method="post">
          <table align="center">
            <tr align="left">
                <td><label for="user_login">Login</label></td>
                <td><input type="text" maxlength="20" name="user_login"
                       id="user_login"></td>
            </tr>
            <tr>
                <td><label for="user_password">Password </label></td>
                <td><input type="password" maxlength="20" name="user_password"
                       id="user_password"></td>
            </tr>
          </table>
        </form>
    </section>
{% endblock %}

